@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
:root {
  --primary-color: white;
  --active-color: yellow;
  --muted: #b9b4c7;
}
body {
  width: 100%;
  height: auto;
  background: rgb(44, 70, 201);
  background: linear-gradient(
    118deg,
    rgba(44, 70, 201, 1) 52%,
    rgba(252, 70, 107, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scrollbar-width: thin;

}
body::-webkit-scrollbar {
  width: 0.1em;
}
.container {
  padding: 10px 50px;
  position: relative;
  
}

/* sidebar styling */
aside {
  width: 14rem;
  height: 90vh;
  position: fixed;
}
.logo {
  margin: 30px 0px;
}
.logo a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.category {
  display: flex;
  flex-direction: column;
}
.category p {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 60px;
}
.category-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.category-list a {
  color: var(--primary-color);
  text-decoration: none;
}
.category-list .active {
  color: var(--active-color);
}

.main-container {
  margin-left: 15rem;
  margin-top: 30px;
}
/* sidebar styling */

section {
  height: 200vh;
}
/* navbar styling */
.inputContainer {
  width: 20rem;
  border-bottom: 1px solid var(--muted);
}
.inputbar {
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  outline: none;
  color: whitesmoke;
  text-transform: capitalize;
}
.inputbar::placeholder {
  color: var(--muted);
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}
.navbar li {
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 14px;
}

.social img {
  width: 1.7rem;
  margin: 0 10px;
  border: 2px solid transparent;
}
.social img:hover {
  cursor: pointer;
  border: 2px solid var(--active-color);
  border-radius: 100%;
}
/* navbar styling */

/* main section styling */
.title {
  display: flex;
}
.title p {
  color: var(--primary-color);
  padding: 25px;
  font-size: 1.5rem;
}
.movie-dropdown {
  padding: 24px;
  margin: 2px;
}

#dropdown {
  background: transparent;
  outline: none;
  border: 1px solid var(--muted);
  padding: 10px 40px;
  border-radius: 12px;
  color: var(--primary-color);
  margin: 0 8px;
}

#dropdown:hover {
  border: 1px solid var(--active-color);
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
option {
  background-color: black;
  opacity: 0.2;
  padding: 10px;
}
/* fetch movies */

.movies {
  display: grid;
  grid-template-columns: repeat(4, minmax(10px, 1fr));
}

.movieCard {
  margin: 10px;
  padding: 2px;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movieCard img {
  width: 8rem;
}
.movieCard p {
  width: 8rem;
  color: white;
  font-size: small;
  text-transform: capitalize;
}

/* fetch movies */

/* main section styling */
/* pagination  */

#pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#pagination-container button{
  margin: 0 5px;
  padding: 10px 15px;
  background-color: transparent;
  border:1px solid var(--muted);
 color: var(--primary-color);
 border-radius: 2px;
}
#pagination-container .active{
border: 1px solid var(--active-color);
color: var(--active-color);
}
/* pagination  */

/* footer */

.footer{
  border-top: 1px solid var(--muted);
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.social-link {
display: flex;

}
.social-link img {
width: 2rem;
padding: 2px 0.1rem;
border: 2px solid transparent;

}
.social-link img:hover {
  cursor: pointer;
  border: 2px solid var(--active-color);
  border-radius: 100%;
}

.copyright{
  color: var(--primary-color);
  font-size: 10px;
  display: inline-flex;
  gap: 10px
}
.other-links a{
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 10px;

}
/* footer */